body {
  margin: 0;
}

.logo, .header__button, .header__menu {
  display: inline-block;
}

.main {
  background: linear-gradient(90deg, black 32%, transparent 32%);
  height: 900px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-left: 3%;
}

.logo {
  font: 30px/36px montserratregular, arial, helvetica, sans-serif;
  font-weight: 500;
  letter-spacing: 0.07em;
  text-align: center;
  padding: 36px 0;
  max-width: 98px;
  max-height: 37px;
  color: white;
}

.header__button {
  font: 20px/24px montserratregular, arial, helvetica, sans-serif;
  display: flex;
  align-items: center;
  padding: 42px 0px;
  margin-right: 49%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: white;
}

.header__menu {
  background-color: #f5f5f5;
  height: 92px;
  width: 92px;
  padding: 0;
}

.header__menu:before,
.header__menu:after {
  content: '';
  background-color: black;
  position: absolute;
  width: 35px;
  height: 3.5px;
  margin-left: 30px;
}

.header__menu:before {
  top: 49px;
}

.header__menu:after {
  bottom: 0;
  top: 39px;
}

.main-image__image {
  margin-left: 162px;
  padding-top: 50px;
  line-height: 1.25;
  transition: 0.5s;
  float: left;
  margin-right: 55px;
}

.main-content__header {
  font: 80px/82px montserratbold, arial, helvetica, sans-serif;
  font-weight: 700;
  padding-top: 100px;
  margin-bottom: 26px;
}

.main-content__text {
  font: 15px/21px montserratregular, arial, helvetica, sans-serif;
  font-weight: 400;
  margin-bottom: 36px;
}

.main-content__button,
.main-content__button_another {
  font: 13px montserratregular, arial, helvetica, sans-serif;
  font-weight: 500;
  margin-bottom: 156px;
  cursor: pointer;
  background-color: white;
  height: 44px;
  width: 203px;
  text-transform: uppercase;
}

.main-content__button_another {
  border: none;
}

.main-content__button_arrow {
  border: none;
  height: 0;
  width: 0;
}

.link {
  position: relative;
  margin-left: 52px;
  display: flex;
  align-items: center;
}

.link__item {
  padding-right: 12px;
}

.scroll {
  margin-left: 36%;
}

.bag__text_header {
  font: 40px/41px montserratbold, arial, helvetica, sans-serif;
  font-weight: 700;
}

.bag__text_subtitle {
  font: 16px/16px montserratbold, arial, helvetica, sans-serif;
  font-weight: 700;
}

.bag__text_text {
  font: 15px/21px montserratregular, arial, helvetica, sans-serif;
  font-weight: 400;
}

.bag__text-price {
  font: 40px/56px montserratbold, arial, helvetica, sans-serif;
  font-weight: 700;
}

.bag__button_add {
  font: 13px montserratregular, arial, helvetica, sans-serif;
  font-weight: 500;
}

.bag__button-next_text {
  font: 13px/16px montserratregular, arial, helvetica, sans-serif;
  font-weight: 500;
}

.look__text_header {
  font: 40px/41px montserratbold, arial, helvetica, sans-serif;
  font-weight: 700;
}

.look__text_subtitle {
  font: 16px/16px montserratbold, arial, helvetica, sans-serif;
  font-weight: 700;
}

.look__text_text {
  font: 15px/21px montserratregular, arial, helvetica, sans-serif;
  font-weight: 400;
}

.look_button_add {
  font: 13px montserratregular, arial, helvetica, sans-serif;
  font-weight: 500;
}

.look_button-next_text {
  font: 13px/16px montserratregular, arial, helvetica, sans-serif;
  font-weight: 500;
}
