body {
  margin: 0;
}

.logo, .header__button, .header__menu {
  display: inline-block;
}

.main {
  background: linear-gradient(90deg, black 32%, transparent 32%);
  height: 900px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-left: 3%;
}

.logo {
  font: 31px/45px montserratregular, arial, helvetica, sans-serif;
  font-weight: 500;
  letter-spacing: 0.07em;
  text-align: center;
  padding: 34px 10px;
  max-width: 98px;
  max-height: 37px;
  color: white;
}

.header__button {
  font: 20px/32px montserratregular, arial, helvetica, sans-serif;
  display: flex;
  align-items: center;
  padding: 41px 0px;
  margin-right: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: white;
  letter-spacing: 0.07em;
}

.header__menu {
  background-color: #f5f5f5;
  height: 92px;
  width: 92px;
  padding: 0;
}

.header__menu:before,
.header__menu:after {
  content: '';
  background-color: black;
  position: absolute;
  width: 35px;
  height: 3.5px;
  margin-left: 30px;
}

.header__menu:before {
  top: 49px;
}

.header__menu:after {
  bottom: 0;
  top: 39px;
}

.main-image__image {
  margin-left: 186px;
  padding-top: 53px;
  line-height: 1.25;
  transition: 0.5s;
  float: left;
  margin-right: 55px;
}

.main-content__header {
  font: bold 77px/79px montserratbold, arial, helvetica, sans-serif;
  font-weight: 800;
  padding-top: 100px;
  margin-bottom: 17px;
}

.main-content__text {
  font: 17px/21px montserratregular, arial, helvetica, sans-serif;
  font-weight: 400;
  margin-bottom: 39px;
  overflow: hidden;
  word-break: break-word;
  width: 467px;
}

.main-content__button,
.main-content__button_another {
  font: 14px montserratregular, arial, helvetica, sans-serif;
  font-weight: 500;
  margin-bottom: 156px;
  cursor: pointer;
  background-color: white;
  height: 44px;
  width: 203px;
  text-transform: uppercase;
  transform: translate(-5px);
}

.main-content__button_another {
  border: none;
  transform: translate(30px);
}

.main-content__button_arrow {
  border: none;
  height: 0;
  width: 0;
  transform: translate(24px, 1px);
}

.main__vector-image {
  position: absolute;
  visibility: hidden;
}

.link {
  position: relative;
  margin-left: 52px;
  display: flex;
  align-items: center;
}

.link__item {
  padding-right: 12px;
}

.scroll {
  margin-left: 27%;
  position: absolute;
  margin-top: -767px;
}

.bag {
  background-color: #fae8e4;
  display: flex;
  height: 900px;
}

.bag__image {
  float: left;
  display: flex;
}

.bag__image_pink {
  width: 582px;
  height: 844px;
  margin-left: -293px;
  margin-top: 28px;
  z-index: 1;
}

.bag__image_grey {
  width: 398px;
  height: 415px;
  margin-left: 137px;
  margin-top: 217px;
}

.bag__text {
  margin-left: 55px;
  background: url(img/Rectangle4.png) no-repeat;
  background-size: 488px 556px;
  background-position: 0px 168px;
}

.bag__text_header {
  font: 44px/33px montserratbold, arial, helvetica, sans-serif;
  font-weight: 700;
  margin-top: 219px;
}

.bag__text_subtitle {
  font: 16px/16px montserratbold, arial, helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  opacity: 0.5;
  margin-top: -21px;
}

.bag__text_text {
  font: 15px/21px 'montserratregular', arial, helvetica, sans-serif;
  font-weight: 400;
  opacity: 0.5;
  letter-spacing: 0.08em;
  width: 385px;
  margin-top: 63px;
  overflow: hidden;
  word-break: break-word;
}

.bag__text-price {
  font: 40px/56px montserratbold, arial, helvetica, sans-serif;
  font-weight: 700;
  margin-left: 290px;
  transform: translateY(-188px);
}

.bag__button {
  background: none;
  border: 2px solid black;
  font-size: 17px;
  height: 44px;
  width: 100px;
  letter-spacing: 15px;
  text-align: end;
  margin-top: 127px;
  margin-left: 56px;
}

.bag__button_add {
  font: 14px montserratregular, arial, helvetica, sans-serif;
  font-weight: 500;
  margin-left: 169px;
  height: 44px;
  width: 253px;
  background: none;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  transform: translateY(-180px);
}

.bag__button-image {
  background: none;
  display: inline-block;
  border: none;
  transform: translate(-117px, -85px);
}

.bag__button-next {
  transform: translate(-76px, 382px);
  border: none;
  background: none;
  display: flex;
  height: 17px;
  width: 10px;
}

.bag__button-next_text {
  font: 13px/16px montserratregular, arial, helvetica, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  width: 267px;
  letter-spacing: 0.04em;
  margin-left: -288px;
  position: absolute;
}

.bag__button-next_image {
  margin-left: -54px;
}

.look {
  background: #ebe3d8;
  display: flex;
  height: 900px;
}

.look__image {
  height: 622px;
  width: 827px;
  margin-top: 69px;
  padding-left: 44px;
  position: relative;
  z-index: 2;
}

.look__background {
  margin-top: -763px;
  margin-left: 336px;
  position: relative;
  z-index: 1;
}

.look__text {
  margin-left: -63px;
  background: url(img/Rectangle11.png) no-repeat;
  background-size: 455px 352px;
  background-position: 0px 255px;
  z-index: 2;
}

.look__text_header {
  font: 40px/41px montserratbold, arial, helvetica, sans-serif;
  font-weight: 700;
  margin-top: 296px;
  width: 390px;
  margin-left: 47px;
}

.look__text_subtitle {
  font: 16px/16px montserratbold, arial, helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: -19px;
  letter-spacing: 0.14em;
  margin-left: 47px;
  opacity: 0.5;
}

.look__text_text {
  font: 15px/21px montserratregular, arial, helvetica, sans-serif;
  font-weight: 400;
  margin-top: 33px;
  letter-spacing: 0.07em;
  margin-left: 47px;
  opacity: 0.5;
  overflow: hidden;
  word-break: break-word;
  width: 352px;
}

.look__button {
  background: none;
  border: 2px solid black;
  font-size: 17px;
  height: 44px;
  width: 100px;
  letter-spacing: 15px;
  text-align: end;
  margin-top: 40px;
  margin-left: 46px;
}

.look__button_add {
  font: 14px montserratregular, arial, helvetica, sans-serif;
  font-weight: 500;
  width: 253px;
  height: 44px;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  margin-left: 10px;
  transform: translateY(-1px);
}

.look__button-next {
  transform: translate(-25px, 322px);
  border: none;
  background: none;
  display: flex;
  height: 17px;
}

.look__button-next_text {
  font: 13px/16px montserratregular, arial, helvetica, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  width: 267px;
  letter-spacing: 0.04em;
  margin-left: -259px;
}

.look__button-next_image {
  margin-left: -32px;
}

.footer {
  display: flex;
  margin-top: 852px;
  transform: translateX(-139px);
}

.footer__text {
  font: 13px/16px montserratregular, arial, helvetica, sans-serif;
  font-weight: 500;
  width: 112px;
}

.footer__image {
  margin-top: 9px;
  margin-left: 10px;
  width: 90px;
  height: 24px;
}

@media screen and (max-width: 1281px) {

  .main {
  	height: 808px;
  }

  .main-image__image {
  	width: 36%;
  }

  .main-content__header {
  	font-size: 50px;
    margin-top: -20px;
  }

  .bag {
  	height: 847px;
  }

  .bag__image_grey {
  	height: 38%;
    width: 58%;
  }

  .bag__image_pink {
  	width: 85%;
    height: 74%;
    margin-top: 75px;
    margin-left: -249px;
  }

  .bag__text {
  	transform: translateX(92px);
  }

  .bag__text_header,
  .bag__text_subtitle,
  .bag__text_text {
    margin-left: -86px;
  }

  .bag__text-price {
    margin-top: -148px;
    margin-left: 178px;
  }

  .bag__button_add {
    margin-top: 187px;
  }

  .bag__button-next {
    transform: translate(-38px, 382px);
  }

  .look__image {
  	width: 675px;
  }

  .footer {
  	transform: translateX(-96%);
  }
}


@media screen and (max-width: 1124px) {
  .main {
  	height: 709px;
  }

  .header__button {
  	margin-left: -18px;
  }

  .main-image__image {
  	margin-left: 12%;
  }

  .main-content__header {
  	font-size: 47px;
    line-height: 45px;
  }

  .main-content__text {
  	font-size: 13px;
  	width: 283px;
  }

  .main-content__button {
  	width: 138px;
    font-size: 13px;
    height: 31px;
  }

  .main-content__button_another {
  	font-size: 13px;
    margin-left: -38px;
  }

  .main-content__button_arrow {
  	margin-left: -21px;
  }

  .scroll {
  	margin-left: 13%;
  }

  .link {
  	margin-top: -50px;
  }

  .bag__image_grey {
  	width: 79%;
    margin-left: 20px;
  }

  .bag__image_pink {
  	margin-left: -166px;
    width: 100%;
  }

  .bag__button {
  	margin-left: 26px;
  }

  .bag__button_add {
  	transform: translate(-18px, -179px);
  }

  .look__image {
  	width: 498px;
    height: 469px;
  }

  .look__background {
  	margin-top: -613px;
    margin-left: 253px;
  }

  .look__text {
  	background-size: 455px 330px;
    background-position: 0px 180px;
    margin-left: 9px;
  }

  .look__text_header {
  	margin-top: 215px;
    font-size: 35px;
  }

  .look__button {
  	margin-left: 20px;
  }

  .look__button-next {
  	margin-left: -150px;
    margin-top: -60px;
  }

  .look__buttin-next_image {
  	margin-left: -26px;
  }

  .footer {
  	transform: translateX(-122px);
  }
}

@media screen and (max-width: 1116px) {
  .bag__image_pink {
    width: 79%;
    margin-left: -280px;
  }

  .bag__image_grey {
    height: 41%;
  }

  .bag__text {
    transform: translateX(-18px);
  }

  .bag__text_header,
  .bag__text_subtitle,
  .bag__text_text {
    margin-left: 50px;
  }

  .bag__text-price {
    margin-left: 290px;
  }

  .bag__button-next {
    transform: translate(-103px, 382px);
  }

  .bag__button-next_image {
    margin-left: -26px;
  }

  .footer {
    transform: translateX(-147px);
  }
}

@media screen and (max-width: 918px) {
  .main-content__button_another {
    position: relative;
    z-index: 2;
  }

  .main-content__button_arrow {
    margin-left: -63px;
    z-index: 1;
    position: relative;
  }

  .bag__image_grey {
    margin-left: 3px;
  }

  .bag__image_pink {
    width: 89%;
    margin-left: -238px;
  }

  .bag__button-next {
    transform: translate(-120px, 382px);
  }

  .look__image {
    margin-left: -43px;
  }

  .look__background {
    margin-left: 199px;
  }

  .look__text {
    margin-left: -43px;
    background-size: 424px 321px;
    width: 500px;
  }

  .look__text_header,
  .look__text_subtitle,
  .look__text_text {
    margin-left: 20px;
  }

  .look__text_text {
    width: 355px;
  }

  .look__button-next {
    margin-left: -201px;
  }

  .look__button-next_image {
    margin-left: -35px;
  }

  .footer {
    transform: translateX(-260px);
  }
}

@media screen and (max-width: 768px) {
  .main {
  	background: url(img/pete-bellis-unsplash.png) no-repeat scroll;
    background-size: cover;
    background-position: -1px 9px;
    position: absolute;
    display: block;
    width: 768px;
    height: 1198px;
  }

  .header {
  	background: white;
    height: 128px;
    margin-left: 0;
  }

  .header__menu {
  	background-color: #f5f5f5;
    height: 157px;
    width: 148px;
    transform: translateX(2px);
  }

  .header__menu:before,
  .header__menu:after {
  	content: '';
    background-color: black;
    position: absolute;
    width: 54px;
    height: 4px;
    margin-left: 40px;
  }

  .header__menu:before {
    top: 62px;
  }

  .header__menu:after {
    bottom: 0;
    top: 49px;
  }

  .main-content__header {
    font-size: 96px;
    line-height: 101px;
    margin-left: 9%;
    transform: translateY(396px);
    position: relative;
    width: 300px;
  }

  .logo {
  	color: black;
  	transform: translateY(-3px);
    font-size: 61px;
    margin-left: 7%;
  }

  .main__vector-image {
  	visibility: visible;
  	margin-left: -69px;
    margin-top: 973px;
    width: 9%;
  }

  .header__button {
  	display: none;
  }

  .link,
  .main-content__button,
  .main-content__button_another,
  .main-content__text,
  .main-image__image,
  .bag__image_grey,
  .bag__button,
  .bag__button-next,
  .look__button,
  .footer {
    visibility: hidden;
  }

  .look__button_add {
    visibility: visible;
  }

  .bag {
  	background: #fae8e4;
  	transform: translateY(1183px);
  	height: 1191px;
  	width: 768px;
  }

  .bag__image_pink {
    width: 455px;
    height: 645px;
    margin-left: -259px;
    margin-top: -104px;
  }

  .bag__text{
  	display: inline-block;
    background: url(img/Rectangle4.png) no-repeat;
    background-position: 23px 524px;
    background-size: 637px 563px;
    position: absolute;
    margin-left: -46px;
    width: 637px;
  }

  .bag__text_header {
  	font-size: 44px;
    margin-top: 563px;
    margin-left: -13px;
  }

  .bag__text-price {
    margin-left: -73px;
    margin-top: 844px;
    font-size: 42px;
    width: 76px;
  }

  .bag__text_subtitle {
  	font-size: 20px;
    margin-left: -7px;
    margin-top: 611px;
  }

  .bag__text_text {
  	font-size: 20px;
    margin-top: 656px;
    margin-left: -31px;
    line-height: 25px;
    width: 507px;
    letter-spacing: 0.01em;
  }

  .bag__button-image {
    transform: translate(-90px, -297px);
    justify-content: space-between;
    margin-left: 24px;
  }

  .bag__button_add {
  	margin-left: -319px;
    width: 518px;
    height: 73px;
    margin-top: 1141px;
    font-size: 27px;
  }

  .look {
  	transform: translateY(1182px);
    height: 1195px;
    width: 768px;
  }

  .look__image {
  	width: 703px;
    height: 521px;
    margin-left: -27px;
    margin-top: 34px;
    z-index: 2;
    position: absolute;
  }

  .look__background {
  	position: relative;
    z-index: 1;
    margin-top: -34px;
    height: 1196px;
    width: 82px;
    margin-left: 198px
  }

  .look__text {
  	margin-left: 100px;
    background: url(img/Rectangle11.png) no-repeat;
    background-size: 609px 390px;
    background-position: 0 547px;
    z-index: 2;
    width: 600px;
  }

  .look__text_header {
  	font-size: 40px;
    margin-top: 599px;
    margin-left: 49px;
  }

  .look__text_subtitle {
  	font-size: 20px;
    margin-top: -23px;
    letter-spacing: 0.12em;
    margin-left: 50px;
  }

  .look__text_text {
  	font-size: 21px;
    line-height: 24px;
    margin-top: 27px;
    margin-left: 45px;
    letter-spacing: 0.01em;
    width: 470px;
  }

  .look__button_add {
  	transform: translateY(-18px);
    margin-left: -76px;
    width: 519px;
    font-size: 27px;
    height: 75px;
  }

  .look__button-next {
  	display: block;
    margin-top: 188px;
    letter-spacing: 0.07em;
    z-index: 2;
    margin-left: -123px;
  }

  .look__button-next_text {
  	font-size: 29px;
    width: 303px;
    text-align: start;
    line-height: 30px;
  }

  .look__button-next_image{
  	margin-top: 62px;
    margin-left: 24px;
  }
}

@media screen and (max-width: 588px) {
  .bag__text {
    transform: translateX(109px);
  }

  .bag__text_header,
  .bag__text_subtitle {
    width: 350px;
  }

  .footer {
    transform: translateX(-147px);
  }
}

@media screen and (max-width: 375px) {
  .main {
    background-position: -11px 9px;
    position: absolute;
    display: block;
    width: 367px;
    height: 598px;
  }

  .main-content__header {
    font-size: 48px;
    line-height: 52px;
    margin-left: 7%;
    transform: translateY(181px);
  }

  .header {
    height: 67px;
  }

  .header__menu {
  	background-color: #f5f5f5;
    height: 69px;
    width: 71px;
    transform: translateX(2px);
  }

  .header__menu:before,
  .header__menu:after {
  	content: '';
    width: 27px;
    height: 2px;
    margin-left: 28px;
  }

  .header__menu:before {
    top: 37px;
  }

  .header__menu:after {
    top: 29px;
  }

  .scroll {margin:0;}

  .logo {
  	transform: translateY(-23px);
    font-size: 30px;
    margin-left: 3%;
  }

  .main__vector-image {
  	margin-left: -58px;
    margin-top: 490px;
  }

  .bag {
  	background: #fae8e4;
  	transform: translateY(598px);
  	height: 596px;
  	width: 370px;
  }

  .bag__image_pink {
    width: 222px;
    height: 333px;
    margin-left: -230px;
    margin-top: -61px;
  }

  .bag__text{
    background-position: 0 262px;
    background-size: 514px 281px;
    width: 320px;
    transform: translateX(28px);
    margin: 1px;
  }

  .bag__text_header {
  	font-size: 22px;
    margin-top: 274px;
    margin-left: 2px;
    width: 182px;
  }

  .bag__text-price {
    margin-left: -86px;
    width: 52px;
    margin-top: 409px;
    font-size: 23px;
  }

  .bag__text_subtitle {
  	font-size: 10px;
    margin-left: 2px;
    margin-top: 299px;
    width: 198px;
  }

  .bag__text_text {
  	font-size: 10px;
    margin-top: 326px;
    line-height: 13px;
    width: 244px;
  }

  .bag__button-image {
    transform: translate(-99px, -231px);
    margin-left: -12px;
    font-size: 103px;
  }

  .bag__button_add {
  	margin-left: -229px;
    width: 260px;
    height: 38px;
    margin-top: 659px;
    font-size: 14px;
  }

  .look {
  	transform: translateY(596px);
    height: 599px;
    width: 369px;
  }

  .look__image {
  	width: 351px;
    height: 259px;
    margin-left: -38px;
    margin-top: 18px;
  }

  .look__background {
    margin-top: -18px;
    height: 598px;
    width: 41px;
    margin-left: 96px;
  }

  .look__text {
  	margin-left: 43px;
    background-size: 306px 195px;
    background-position: 0 275px;
    width: 300px;
  }

  .look__text_header {
  	font-size: 20px;
    margin-top: 290px;
    margin-left: 25px;
  }

  .look__text_subtitle {
  	font-size: 10px;
    margin-top: -25px;
    letter-spacing: 0.15em;
    margin-left: 23px;
  }

  .look__text_text {
  	font-size: 10px;
    line-height: 12px;
    margin-top: 7px;
    margin-left: 23px;
    letter-spacing: 0.01em;
    width: 229px;
  }

  .look__button_add {
  	transform: translateY(-31px);
    margin-left: -99px;
    width: 261px;
    font-size: 14px;
    height: 39px;
  }

  .look__button-next {
    margin-top: -69px;
    letter-spacing: 0.05em;
    margin-left: -56px;
  }

  .look__button-next_text {
  	font-size: 15px;
    width: 159px;
    text-align: start;
    line-height: 19px;
  }

  .look__button-next_image{
  	margin-top: 24px;
    margin-left: -29px;
  }

  .footer {
  	margin: 0;
    transform: translateX(-402px);
  }
}
